.well {
   padding: 5px;
   margin-bottom: 5px;
   background-color: #393839;
   border: 0;
}

.logo {
    padding-left: 5px !important;
}

.navbar-brand {
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-item > .nav-link {
  color: #fff;
}

.nav-item.active > a {
  background-color: #255774 !important;
}

.nav-item a:hover { 
  background-color: #255774 !important; 
}

