.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
README.html
_tmp_map.png
logging.txt
restart.txt
report_template.docx
report_template.html
report_template.pdf
logging_tmp.txt
report_template_gen.html
.httr-oauth
report_template_gen.docx
report_template_gen.pdf
reports/
